/*---------------CONFIG COMANDS----------------*/
*;;
*::after {
}
*::before {
    margin: 0px;
    padding: 0px;
}
body {
    background: #FFFFFF;
    margin: 0px;
}
/*-----------------HEADER CSS------------------*/
.header {
    display: inline-block;
    position: sticky;
    width: 100%;
    font-family: lato, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.header h4 {
    margin-left: 60px;
    font-size: 18px;
    font-weight: bold;
}
.header li {
    display: inline-block;
    list-style-type: none;
    margin-left: 34px;
}
.header nav {
    margin-left: 290px;
    margin-top: -62px;
    display: inline-block;
    position: absolute;
}
.header a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.header div {
    display: inline-block;
    position: absolute;
    margin-left: 1000px;
    margin-top: -52.5px;
}
.header input {
    display: inline-block;
    width: 200px;
    height: 40px;
    border-radius: 35px;
    border-width: 0px;
    text-align-last: center;
    background: #F2F2F2;
}
#lupa {
    position: absolute;
    width: 17px;
    height: 17px;
    margin-left: 20px;
    margin-top:12px;
}
#sacola {
    width: 41px;
    height: 41px;
    position: absolute;
    margin-left: 20px;
    margin-top: 0px;
}
/*-----------------SNEAK LIGTH-----------------*/
.section1 {
display: inline-block;
}
.section1 div {
    display: inline-block;
    width: 45%;
}
.section1 h1 {
    position: absolute;
    font-size: 70px;
    margin-left: 57px;
    margin-top: -470px;
    color: linear-gradient(270.06deg, #DADADA 10.00%, #9F9F9F 99.92%); opacity: 0.3;
    font-family: lato, sans-serif;
    font-weight: bold;
    font-style: normal;
}
.section1 p {
    position: absolute;
    font-size: 20px;
    font-family: lato, sans-serif;
    font-weight: 300;
    margin-top: -270px;
    margin-left: 60px;
}
.section1 button {
    position: absolute;
    width: 250px;
    height: 60px;
    margin-left: 60px;
    margin-top: -120px;
    background-color: #FFFFFF;
    border-radius: 7px;
    border-color: black;
    font-family: lato, sans-serif;
    font-weight: bold
}
.section1 img {
    position: relative;
    object-fit: contain;
     width: 790px;
    height: 470px;
    margin-top: 70px;
    margin-left: 110px;
}
/*--------------CORRIDA MASCULINO--------------*/
.section2 {
    background-color: #F3F3F3;
    border-radius: 8px;
    width: 1238px;
    height: 750px;
    margin-left: 50px;
    margin-top: 130px;
}
.section2 h2 {
    position: absolute;
    font-size: 30px;
    width: 400px;
    font-family: lato, sans-serif;
    font-weight: bold;
    left: 52%;
    margin-left: -200px;
    margin-top: 50px;
}
.section2 div {
    display: inline-block;
    width: 300px;
    position: absolute;
    left: 53%;
    margin-left: -150px;
    margin-top: 140px;
}
.eclipse {
    display: inline-block;
     margin-left: 15px;
     width: 30px;
     height: 30px;
}
#img2 {
    position: absolute;
    width: 400px;
    height: 300px;
    object-fit: cover;
    left: 50%;
    margin-left: -200px;
    margin-top: 200px;
}
.section2 span {
    position: absolute;
    font-size: 22px;
    font-family: lato, sans-serif;
    font-weight: bold;
    width: 100px;
    left: 50%;
    margin-left: -35px;
    margin-top: 500px;
}
.section2 button {
    position: absolute;
    left: 50%;
    margin-left: -140px;
    margin-top: 600px;
    width: 280px;
    height: 60px;
    border-radius:10px;
    font-family: lato, sans-serif;
    font-weight: bold;
}
/*-------------LEVEZA E AGILIDADE--------------*/
.section3 {
    margin-top: 150px; 
}
.section3 div {
    display: inline-block;
    width: 49%;
}
.section3 img {
     width: 630px;
     height: 540px;
     margin-left: -5px;
}
.section3 h3 {
    position: absolute;
    margin-top: -520px;
    font-size: 55px;
    margin-left: 50px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: linear-gradient(270.06deg, #DADADA 10.00%, #9F9F9F 99.92%); opacity: 0.3;
}
.section3 p {
    position: absolute;
    margin-top: -420px;
    font-size:18px;
    margin-left: 50px;
    font-family: lato, sans-serif;
    font-weight: 400;
}
/*-----------AMORTECIMENTO IMEDIATO------------*/
.section4 {
    margin-top: 150px;
}
.section4 div {
    display: inline-block;
    width: 40%;
}
.section4 img {
    margin-left: 50px;
}
#img4 {
    display: inline-block;
    position: relative;
    width: 385px;
    height: 600px;
    object-fit: cover;
}
#img41 {
    display: inline-block;
    position: absolute;
    width: 185px;
    height: 600px;
    object-fit: cover;
    margin-left: 10px;
}
.section4 h3 {
    position: absolute;
    margin-left: 220px;
    font-size: 55px;
    margin-top: -585px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: linear-gradient(270.06deg, #DADADA 10.00%, #9F9F9F 99.92%); opacity: 0.3;
}
.section4 p {
    position: absolute;
    margin-left: 222px;
    margin-top: -415px;
    font-size: 18px;
    font-family: lato, sans-serif;
    font-weight: 400;
}
/*----------SENSAÇÃO DE ESTABILIZAÇÃO----------*/
.section5 {
    margin-top: 150px;
}
.section5 div {
    display: inline-block;
    width: 49%;
}
.section5 h3 {
    position: absolute;
    font-size: 55px;
    font-family: lato,sans-serif;
    font-weight: bold;
    margin-left: 60px;
    margin-top: -530px;
    color: linear-gradient(270.06deg, #DADADA 10.00%, #9F9F9F 99.92%); opacity: 0.3;
}
.section5 p {
    position: absolute;
    font-size: 18px;
    font-family: lato, sans-serif;
    font-weight: 400;
    margin-left: 60px;
    margin-top: -370px;
}
.section5 img {
    width: 630px;
    height: 540px;
    margin-left: -5px;
}
/*----------------ISIDE SECTION----------------*/
.iside {
    margin-top: 150px;
    background-image: url(../img/Background.png);
    object-fit: cover;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}
.iside span {
    position: absolute;
    font-size: 90px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.iside img {
    vertical-align: top;
    margin-top: 35px;
    background-size: cover;
}
/*----------------MAPA DA LOJA-----------------*/
.section6 {
margin-top: 150px;
}
.section6 div {
    display: inline-block;
    width: 45%;
    font-size: 20px;
    font-family: lato, sans-serif;
    font-weight: 400;
}
.section6 h3 {
    position: absolute;
    margin-left: 50px;
    font-family: lato, sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.section6 img {
    width: 700px;
    height: 650px;
    background-size: cover;
    margin-left: 65px;
}
.section6 form {
    margin-top: -650px;
    margin-left: 152px;
    position: absolute;
    width: 510px;
    height: 650px;
    background-color: #F3F3F3;
    border-radius: 10px;
}
.section6 input {
    border-width: 0px;
    background-color: #FFFFFF;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #969696;
    text-align: start;
}
.section6 textarea {
    margin-top: 20px;
    border-width: 0px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin-left: 50px;
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: 400;
}
.section6 label {
    color: #969696;
}
#checkbox {
    width: 20px;
    height: 20px;
    margin-top: 40px;
}
.section6 button {
    width: 400px;
    height: 65px;
    border-color: black;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
    border-width: 2px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: bold;
}
/*-------------------FOOTER--------------------*/
.footer {
    position: absolute;
    width: 100%;
    height: 270px;
    background-color:  #F3F3F3;
    margin-top: 150px;
}
.footer div {
    position: absolute;
    display: inline-block;
    width: 20%;
    margin-top: 20px;
}
.footer h4 {
    position: absolute;
    margin-left: 50px;
    margin-top: 37px;
    font-family: lato, sans-serif;
    font-weight: 700;
}
.footer a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: 400;

}
.footer ul {
    list-style-type: none;
}
.footer li {
    font-size: 18px;
    font-family: lato, sans-serif;
    font-weight: 400;
    margin-top: 5px;
}
.sobre {
    position: absolute;
    margin-left: 200px;
}
.ajuda {
    position: absolute;
    margin-left: 600px;
}
.social {
    position: absolute;
    margin-left: 950px;
}
.footer img {
    display: inline-block;
}
.footer span {
    position: absolute;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 230px;
    margin-left: 550px;
}
.footer strong {
    font-family: lato, sans-serif;
    font-weight: bold;
    font-size: 16px;
}